body {
  margin: 0;
}

.gallery > .gallery__list {  
  display: grid;
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
  grid-gap: .8rem;
}

.gallery > .gallery__list > li:nth-child(4n) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery > .gallery__list > li:nth-child(8n) {
  grid-column: span 3;
  grid-row: span 3;
}

.gallery > .gallery__list > li > figure > img {
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  width: 100%;
  height: 100%;
  margin: 0;
}








.gallery > .gallery__list {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-gap: 1rem;
  grid-auto-flow: dense; */
}

/* This will create 2x images every 4 elements */
.gallery > .gallery__list > li:nth-child(4n) {
  /* grid-column: span 2; Spans two columns
  grid-row: span 2; Spans two rows */
}

/* This will create 3x images every 8 elements */
.gallery > .gallery__list > li:nth-child(8n) {
  /* grid-column: span 3;
  grid-row: span 3; */
} 

.gallery > .gallery__list > li > figure > img {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}

ul {
  /* margin: 0;
  padding: 0;
  list-style: none; */
}